<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявки от жителей</title>
</head>
<body>

<a href="/main">Main page</a>

</body>
</html>