<html lang="ru">

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <form method="post" action="add">
        <label>
            <input type="text" name="text" placeholder="Введите сообщение"/>
        </label>
        <label>
            <input type="text" name="tag" placeholder="Тэг">
        </label>
        <label>
            <select id="house" name="house">
                {{#houses}}
                    <option value="{{id}}">{{address}}</option>
                {{/houses}}
            </select>
        </label>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="post" action="filter">
    <label>
        <input type="text" name="filter">
    </label>
    <button type="submit">Найти</button>
</form>
{{#proposals}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{username}}</strong>
    </div>
{{/proposals}}
</body>
</html>